<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>
    <body>
        {{> headers}}
        <p>
            Portfolio page here
        </p>
        {{> footers}}
    </body>
</html>